{% extends 'base.html' %}

{% block navbar %}
    <a class="nav-link active" aria-current="page" href="{% url 'webapp:home' %}">На главную</a>
{% endblock %}

    <title>{% block title %}Create{% endblock %}</title>

{% block content %}
<h1 style="margin-top: 50px; margin-bottom: 50px">Добавить новый продукт</h1>
<form enctype="multipart/form-data" method="post" action="{% url 'webapp:create_product' %}">
    {% include 'partial/create_update.html' with value_submit='Добавить' %}
</form>
{% endblock %}